ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
#btn-registro{
    background-color: #04AA6D;
}

#form-registrar{
    background-color: #04AA6D;
    ;
}

#btn-submit-form{

}

#registro.html{
  font-family: impact;
  letter-spacing:  2px;
  color: #457;
}